
body {
    text-align: center;
    background-color: bisque;
    font-family: "Roboto", sans-serif;
}

.resize {
    width: 300px;
    height: auto;
}

body div ul {
    display: inline-block;
    text-align: left;
}